<%=render 'shared/breadcrumb', category: @phone.category %>

<product class="phone">
  <section class="phone-head">
    <h1><%=@phone.name %></h1>
    <small>
      <time><%= @phone.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if @phone.category.present? %>
      |
       <%= link_to @phone.category.name, @phone.category %>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
      |
      <%=link_to 'Изменить', edit_admin_phone_path(@phone) %>
      |
      <%=link_to 'Удалить', admin_phone_path(@phone),
                 method: :delete, data: {confirm: 'Вы уверены?'} %>
        <% end %>
        </small>
  </section>
  <section class="phone-price">
    <%=@phone.price %> грн
  </section>
  <section class="phone-description">
    <%=image_tag  @phone.image.url(:thumb), class: 'img-show' if @phone.image? %>
    <%=@phone.description %>
  </section>
</product>