<!DOCTYPE html>
<html>
  <head>
    <title>PhoneStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
     <a class="navbar-brand" href="#">Мобилочка на RoR</a>
       <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if current_page?(root_path) || current_page?(phones_path)%>">
          <a class="nav-link" href="<%= root_path %>">Все телефоны</a>
        </li>
       </ul>

        <div class="navbar-nav pull-xs-right d-flex justify-content-around flex-row left-sidde-menu">
          <% if cart_has_items %>
            <%= link_to cart_path(@cart), class: "navbar-item button is-warming" do %>
              <span class="icon is-small">
                <i class="fa fa-shopping-cart"></i>
              </span>
              <span>
                Cart
                <%= cart_count_over_one %>
              </span>
              <% end %>
            <% end %>

          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
          <li class="nav-item">
            <%= link_to  "Вход", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to  "Регистрация", new_user_registration_path, class: "nav-link" %>
          </li>
            <% end %>
        </div>
     </nav>
   </div>

     <div class="container main">
       <div class="row">
         <div class="col-md-12">
           <% flash.each do |name, message|%>
           <div class="alert <%= bootstrap_class_for(name)%><%=name %>">
             <button class="close" date-dismiss="alert">&times;</button>
             <%=message %>
           </div>
           <% end %>
         </div>
       </div>

      <div class="row">
        <div class="col-md-9">
          <%=yield %>
        </div>
        <div class="col-md-3">
          <%= render 'shared/submenu' %>
        </div>
      </div>

     </div>
  </body>
</html>
